/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 52px 52px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 52px 52px);
}

.art-Sheet-bl
{
	clip: rect(52px 52px auto auto);
}

.art-Sheet-br
{
	clip: rect(52px auto auto 52px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 52px auto);
}

.art-Sheet-bc
{
	clip: rect(52px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 52px);
}

.art-Sheet-cl
{
	clip: rect(auto 52px auto auto);
}

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Box, Block */

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 11px 11px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 11px 11px);
}

.art-BlockContent-bl
{
	clip: rect(11px 11px auto auto);
}

.art-BlockContent-br
{
	clip: rect(11px auto auto 11px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 11px auto);
}

.art-BlockContent-bc
{
	clip: rect(11px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 11px);
}

.art-BlockContent-cl
{
	clip: rect(auto 11px auto auto);
}

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 402px);
}
/* end Button */

